/* Hide some controls in mobile resolution */
.cueplayer-react .cueplayer-react-control.cueplayer-react-replay-control,
.cueplayer-react .cueplayer-react-control.cueplayer-react-forward-control,
.cueplayer-react .cueplayer-react-control.cueplayer-react-volume-menu-button,
.cueplayer-react .cueplayer-react-volume-control,
.cueplayer-react .cueplayer-react-control.cueplayer-react-current-time,
.cueplayer-react .cueplayer-react-time-divider,
.cueplayer-react .cueplayer-react-control.cueplayer-react-duration {
  display: none;
  @media (min-width: 640px) {
    display: flex;
    align-items: center;
  }
}

.cueplayer-react-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
