// Text, icons, hover states
$cueplayer-react-primary-foreground-color: #fff !default;

// Control backgrounds (control bar, big play, menus)
$cueplayer-react-primary-background-color: #2B333F !default;
$cueplayer-react-primary-background-transparency: 0.7 !default;

// Hover states, slider backgrounds
$cueplayer-react-secondary-background-color: lighten($cueplayer-react-primary-background-color, 33%) !default;
$cueplayer-react-secondary-background-transparency: 0.5 !default;

$cueplayer-react-text-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif !default;

$cueplayer-react-big-play-button-width: 3em !default;
$cueplayer-react-big-play-button-height: 1.5em !default;
$cueplayer-react-big-play-button-transparency: 0.8 !default;