@tailwind base;
@tailwind components;
@import './subscribe-form.css';
@import './quiz.css';
@import './prism.css';
@import './focus-visible.css';
@import './nprogress.css';
@tailwind utilities;

html,
body,
#root {
  color-scheme: light;
}

.no-marker {
  ::-webkit-details-marker {
    display: none;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  @apply -mb-1.5 overflow-hidden xl:rounded-b-xl;
}
