version: "3.6"
services:
  postgres:
    image: postgres:12
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgrespassword
  graphql-engine:
    env_file:
      - ".env.development"
    image: hasura/graphql-engine:v2.3.0
    ports:
      - "8080:8080"
    depends_on:
      - "postgres"
    restart: always
volumes:
  db_data: