strict-peer-dependencies=false
node-linker=hoisted
link-workspace-packages = true
shamefully-hoist = true
shared-workspace-shrinkwrap = true
access = public
enable-pre-post-scripts = true
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*playwright*
