[data-video-overlay-with-cta] {
  @apply relative flex h-full w-full flex-row items-center justify-between;
  [data-content] {
    @apply !relative flex h-full w-full flex-col items-center justify-center text-center text-lg leading-relaxed;
  }
  [data-cta] {
    @apply prose prose-sm z-20 hidden h-full w-full max-w-[300px] flex-col items-center justify-center overflow-hidden border border-white/10 bg-gray-800/40 px-5 lg:flex;
    [data-image] {
      @apply hidden items-center justify-center sm:flex sm:w-40 lg:w-auto;
    }
  }
}

[data-video-overlay-wrapper] {
  @apply relative left-0 top-0 flex aspect-video w-full items-center justify-center bg-[#070B16];
  [data-dismiss] {
    @apply absolute right-2 top-2 z-40 flex items-center gap-1 rounded px-3 py-2 text-sm font-medium text-gray-200 transition hover:bg-gray-800 hover:text-inherit sm:text-base;
    svg {
      @apply h-5 w-5;
    }
  }
  [data-content] {
    @apply left-0 top-0 z-20 flex h-full w-full flex-col items-center justify-center text-center text-lg leading-relaxed sm:absolute;
  }
}

[data-video-overlay='default'] {
  @apply flex px-3 py-10 sm:px-0 sm:py-5;
  [data-login] {
    @apply flex-shrink-0 pt-8 text-xs italic tabular-nums text-gray-300 xl:pt-16 xl:text-sm [&>a]:underline;
  }
  [data-progress] {
    @apply flex w-full max-w-sm items-center justify-center gap-2 pt-5;
    [data-progress-bar] {
      @apply bg-gray-700;
      [data-indicator] {
        @apply bg-teal-500 duration-300 ease-out;
      }
    }
    [data-lessons-completed] {
      @apply flex-shrink-0 text-sm tabular-nums text-gray-300;
    }
  }
  [data-image] {
    @apply mx-auto hidden w-full items-center justify-center sm:flex sm:max-w-[150px] lg:max-w-[200px];
  }
  [data-title] {
    @apply w-full pt-4 text-xl font-medium xl:text-2xl;
  }
  [data-byline] {
    @apply text-gray-300;
  }

  [data-actions] {
    @apply flex w-full max-w-md scale-100 flex-col items-center justify-center gap-3 pt-4 sm:scale-75 sm:pt-4 lg:pt-0 xl:scale-100 xl:pt-4;
    div {
      @apply flex items-center justify-center gap-3 pt-3;
    }
    [data-action] {
      @apply flex w-full items-center justify-center;
    }
    [data-action='replay'] {
      @apply w-auto gap-1 rounded px-3 text-base font-medium text-gray-300 transition hover:bg-transparent hover:text-white;
      [data-icon] {
      }
    }
    [data-action='try-again'] {
      @apply w-auto gap-1 rounded px-3 text-base font-medium text-gray-300 transition hover:text-white;
      [data-icon] {
        @apply h-5 w-5;
      }
    }
    [data-action='continue'] {
      @apply flex h-auto w-full items-center gap-1 rounded bg-gradient-to-t from-teal-600 to-teal-500 px-5 py-2 text-lg font-semibold text-white transition hover:bg-cyan-500 hover:saturate-[1.5] sm:col-span-2 sm:px-8 sm:py-3;
      span {
        @apply drop-shadow;
      }
      [data-icon] {
      }
    }
    [data-action='continue']:disabled {
      @apply cursor-wait;
    }
  }
}
[data-video-overlay='blocked'] {
  @apply relative flex w-full flex-col items-center justify-center bg-[#04060d] py-10 xl:aspect-video xl:flex-row;
  [data-thumbnail] {
    @apply object-contain object-top opacity-25 blur-sm contrast-125;
  }
  [data-subscribe] {
    @apply z-20 flex h-full flex-shrink-0 flex-col items-center justify-center gap-5 p-5 pb-10 text-center text-lg leading-relaxed sm:p-10 sm:pb-16;
    [data-col='1'] {
      @apply flex w-full flex-col items-center justify-center gap-2;
      [data-image] {
        @apply relative;
      }
      [data-title] {
        @apply text-3xl font-semibold;
      }
      [data-subtitle] {
        @apply pb-5 text-lg;
      }
      [data-nospam] {
        @apply pt-2 text-base opacity-80;
      }
    }
  }
  [data-col='2'] {
    @apply w-full sm:pr-5;
    [data-markdown] {
      @apply prose prose-sm relative flex w-full max-w-2xl flex-col border-gray-700/50 bg-gray-800 p-5 text-white shadow-2xl xl:prose-lg 2xl:prose-base before:absolute before:left-1/2 before:top-[-8px] before:h-4 before:w-4 before:rotate-45 before:border-l before:border-t before:border-gray-700/50 before:bg-gray-800 before:content-[''] prose-p:mb-0 prose-p:text-gray-300 sm:rounded-lg sm:border xl:max-w-lg xl:bg-transparent xl:before:hidden xl:prose-p:mb-0 2xl:prose-p:mb-0;
      [data-title] {
        @apply mt-0 text-2xl font-semibold sm:text-3xl;
      }
    }
  }
  [data-buy] {
    @apply z-20 flex h-full w-full flex-shrink-0 flex-col items-center justify-center gap-5 p-5 text-center text-lg leading-relaxed;
    [data-team-purchase] {
      @apply flex w-full flex-col items-center justify-center gap-2;
      [data-image] {
        @apply relative -mb-5;
      }
      [data-title] {
        @apply text-3xl font-semibold sm:text-4xl;
      }
      [data-subtitle] {
        @apply max-w-xl pb-5 pt-3 text-lg text-gray-300;
      }
      [data-self-redeem-button] {
        @apply rounded-lg border-none bg-cyan-300 px-5 py-3 text-base font-semibold text-gray-900 transition hover:brightness-110;
      }
      [data-self-redeem-button][disabled] {
      }
      [data-invite-team] {
        @apply rounded-lg border border-cyan-400 bg-transparent px-5 py-3 text-base font-semibold text-cyan-300 transition hover:bg-cyan-300 hover:text-black hover:brightness-110;
      }
    }
    [data-pricing] {
      @apply flex w-full max-w-screen-lg flex-col-reverse items-start justify-center gap-10 xl:flex-row;
      [data-col='1'] {
        @apply mx-auto flex w-full max-w-[420px] flex-col items-center;
        [data-image] {
          @apply relative -mb-5;
        }
        [data-title] {
          @apply text-xl font-semibold sm:text-2xl;
        }
        [data-description] {
          @apply w-full pb-3 pt-3 text-sm text-gray-300;
          [data-markdown] {
            @apply prose w-full prose-p:text-gray-300;
          }
        }
        [data-includes] {
          @apply text-base text-gray-300;
          [data-bonus] {
            @apply text-yellow-200;
          }
        }
        [data-modules] {
          span {
            @apply pointer-events-none text-gray-400;
          }
          @apply flex items-center justify-center gap-3 pt-3;
          a {
            @apply transition hover:scale-105;
          }
          [data-type='bonus'] {
            @apply relative flex items-center justify-center after:absolute after:right-0 after:top-0 after:content-['🎁'];
          }
        }
      }
      [data-col='2'] {
        @apply w-full;
      }
    }
  }
}
[data-video-overlay='loading'] {
  div:first-of-type {
    @apply flex items-center justify-center;
  }
  [data-image] {
    @apply opacity-50 blur-sm contrast-125;
  }
  svg {
    @apply absolute;
  }
}
[data-video-overlay='finished'] {
  @apply px-5 sm:px-0;
  [data-progress] {
    @apply flex w-full max-w-sm items-center justify-center gap-2 pt-2 md:pt-5;
    [data-progress-bar] {
      @apply bg-gray-700;
      [data-indicator] {
        @apply bg-teal-500 duration-300 ease-out;
      }
    }
    [data-lessons-completed] {
      @apply flex-shrink-0 text-sm tabular-nums text-gray-300;
    }
  }
  h2 {
    @apply flex w-full max-w-lg flex-col items-center text-center text-base md:text-xl;
    span:first-of-type {
      @apply pb-5 font-text text-3xl font-bold;
    }
  }
  [data-title] {
    @apply hidden;
  }
  [data-share-actions] {
    @apply absolute bottom-0 left-0 flex w-full items-center justify-center py-1.5 sm:bg-gray-800/50;
    [data-action='share'] {
      @apply flex items-center gap-2 rounded bg-gray-800 px-3 py-1 text-sm font-medium hover:bg-gray-700;
    }
  }
  [data-share-actions]:before {
    content: 'Share with your friends:';
    @apply hidden px-2 text-left leading-tight sm:block sm:text-sm;
  }
  [data-actions] {
    @apply mt-0 flex items-center justify-center gap-4 md:mt-8;
    /* [data-action='restart'] {
      @apply hidden;
    } */
    [data-action='replay'],
    [data-action='restart'] {
      @apply w-auto gap-1 rounded px-3 text-base font-medium text-gray-300 transition hover:bg-transparent hover:text-white;
    }
  }
}
