@font-face {
  font-family: 'Articulat';
  font-weight: 300;
  font-style: normal;
  src: url('./c4567470-4d4b-40ed-b1b9-1254ec7cc4b2.woff2') format('woff2'),
    url('./a84a9075-f8c5-4f4e-9fcd-70937ed6f0d7.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 300;
  font-style: italic;
  src: url('./4ae09b4f-b738-41ed-a743-cfb3a38e4847.woff2') format('woff2'),
    url('./451b8dea-c982-468e-8243-524566e1eb72.woff') format('woff');
}
/* @font-face {
  font-family: 'Articulat';
  font-weight: 400;
  font-style: normal;
  src: url('./470b5ccc-fc41-4d06-85c2-6e415910a91a.woff2') format('woff2'),
    url('./7d84b1f2-e2b6-44c8-8de1-c95657f675ef.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 400;
  font-style: italic;
  src: url('./3fd652de-7c38-4a48-a2ea-28d15564f61f.woff2') format('woff2'),
    url('./d8b34a52-98ca-4e9a-b7fb-63073720f34a.woff') format('woff');
} */
@font-face {
  font-family: 'Articulat';
  font-weight: 400;
  font-style: normal;
  src: url('./af62b615-3e4b-4497-a821-3f9e51f98134.woff2') format('woff2'),
    url('./7154229b-c1b8-4c99-8992-2ea9c21599e5.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 400;
  font-style: italic;
  src: url('./d0998d9c-e173-4102-8447-adb92867a239.woff2') format('woff2'),
    url('./2a1c9ede-24dd-4739-8bf4-9a0b9a51d845.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 500;
  font-style: normal;
  src: url('./a1f219b7-65ca-45c8-a242-9d30754542ae.woff2') format('woff2'),
    url('./84c3f9eb-89f6-44c2-9c4c-01351765069a.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 500;
  font-style: italic;
  src: url('./b7e7d7a0-7bed-4e08-96f7-f0307f65b5b9.woff2') format('woff2'),
    url('./908498d2-aef7-4e23-9076-061d7072d35b.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 600;
  font-style: normal;
  src: url('./21cc11bd-8976-4fec-bfe0-6da74738bc75.woff2') format('woff2'),
    url('./eaf1b788-e0b6-47c9-93b8-ace97ee6327d.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 600;
  font-style: italic;
  src: url('./d7e9970a-7fe8-444f-a91e-bb62371b4d71.woff2') format('woff2'),
    url('./ab0a13db-b09e-4581-99ec-a0bc6d03d381.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 700;
  font-style: normal;
  src: url('./6e49fa3f-ce7e-4b77-8b5c-4d713b207a8b.woff2') format('woff2'),
    url('./2b799e38-824a-4427-826e-8ae1b2c40314.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 700;
  font-style: italic;
  src: url('./8cd501fb-32a8-442b-b232-4f95b708c707.woff2') format('woff2'),
    url('./0a0e2e36-c154-4002-b016-481d87f9f5c8.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 800;
  font-style: normal;
  src: url('./57b0199e-2ec4-4e57-9b0b-e787622cca36.woff2') format('woff2'),
    url('./ea8bb345-d4cc-44e9-9c4e-7fabcf7fa39d.woff') format('woff');
}
@font-face {
  font-family: 'Articulat';
  font-weight: 800;
  font-style: italic;
  src: url('./4d7bd247-90dc-4275-836e-e240708b0560.woff2') format('woff2'),
    url('./4c25cf5d-4e18-442b-a117-b45d21ca66cb.woff') format('woff');
}
