@tailwind base;
@import './fonts.css';

@tailwind components;
@import './quiz.css';
@import './subscribe-form.css';

@tailwind utilities;
@import './focus-visible.css';

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin 50s linear infinite;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

header {
  @apply selection:bg-black selection:text-brand-orange !important;
}
