@tailwind base;
@import './fonts.css';

@tailwind components;
@import './quiz.css';
@import './newsletter.css';
@import './nprogress.css';
@import './prism-theme.css';

@tailwind utilities;
@import './focus-visible.css';

:root {
  color-scheme: dark;
  ::selection {
    @apply bg-cyan-300 text-gray-900;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  margin-bottom: -6px;
}

code {
  @apply bg-gray-800/90 shadow px-1.5 py-0.5 rounded-md text-[85%];
}

.no-marker {
  ::-webkit-details-marker {
    display: none;
  }
}

.simplebar-scrollbar:before {
  @apply bg-white/50;
}
