@tailwind base;
@import './fonts.css';

@tailwind components;
@import './quiz.css';
@import './newsletter.css';
@import './nprogress.css';

@tailwind utilities;
@import './focus-visible.css';

:root {
  color-scheme: dark;
  ::selection {
    @apply bg-cyan-300 text-gray-900;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.prose code {
  @apply bg-gray-800/80 px-1 py-0.5 rounded-sm text-[85%];
}
