@tailwind base;
@import './fonts.css';

@tailwind components;
@import './quiz.css';
@import './newsletter.css';

@tailwind utilities;
@import './focus-visible.css';

:root {
  color-scheme: dark;
  ::selection {
    @apply bg-cyan-200 text-gray-900;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}
