@tailwind base;
@import './fonts.css';

@tailwind components;
@import './survey.css';
@import './newsletter.css';
@import './nprogress.css';
@import './prism-theme.css';
@import './pricing.css';
@import './purchase-transfer.css';
@import './portable-text.css';

@import '../video/module-lesson-list/styles.css';
@import '../video/video-overlays/styles.css';
@import '../video/lesson-completion-toggle/styles.css';
@import '../video/lesson-description/styles.css';
@import '../video/lesson-title/styles.css';
@import '../video/video-transcript/styles.css';
@import '../video/github-link/styles.css';

@tailwind utilities;
@import './focus-visible.css';

body {
  @apply overflow-y-scroll;
}

:root {
  color-scheme: dark;
  ::selection {
    @apply bg-cyan-300 text-gray-900;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  margin-bottom: -6px;
}

mux-player::part(center play button) {
  @apply sm:scale-50;
}

mux-player::part(vertical-layer) {
  background-color: rgba(0, 0, 0, 0);
}

code {
  @apply rounded-md bg-gray-800/90 px-1.5 py-0.5 text-[85%] shadow;
}

.no-marker {
  ::-webkit-details-marker {
    display: none;
  }
}

.simplebar-scrollbar:before {
  @apply bg-white/50;
}

.not-prose {
  code {
    @apply bg-transparent;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply opacity-100;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
