#newsletter {
  [data-sr-convertkit-subscribe-form] {
    @apply flex flex-col gap-4;
    [data-sr-input] {
      @apply p-5 bg-gray-800/50 border border-gray-800 w-full rounded-sm text-lg;
    }
    [data-sr-input-label] {
      @apply w-full pb-1 inline-block text-gray-300;
    }
    [data-sr-button] {
      @apply flex items-center justify-center rounded-sm bg-gradient-to-tr from-cyan-600 to-cyan-500 shadow-cyan-900/50 relative shadow-2xl py-5 px-8 mt-2 focus-visible:ring-white font-semibold text-xl hover:brightness-110 transition;
      svg {
        @apply w-7 h-7;
      }
    }
    [data-sr-button][disabled] {
    }
  }
  [data-sr-convertkit-subscribe-form='success'] {
  }
  [data-sr-convertkit-subscribe-form='error'] {
  }
}

#video-overlay {
  [data-sr-convertkit-subscribe-form] {
    @apply flex flex-col gap-4 text-left w-full max-w-sm;
    [data-sr-input] {
      @apply p-2 bg-gray-800/50 border border-gray-800 w-full rounded-sm text-lg;
    }
    [data-sr-input-label] {
      @apply w-full pb-1 inline-block text-gray-300;
    }
    [data-sr-button] {
      @apply flex items-center justify-center rounded-sm bg-gradient-to-tr from-cyan-600 to-cyan-500 shadow-cyan-900/50 relative shadow-2xl py-4 px-5 mt-2 focus-visible:ring-white font-semibold text-lg hover:brightness-110 transition;
      svg {
        @apply w-7 h-7;
      }
    }
    [data-sr-button][disabled] {
    }
  }
  [data-sr-convertkit-subscribe-form='success'] {
    p {
      @apply text-center py-2;
    }
  }
  [data-sr-convertkit-subscribe-form='error'] {
    p {
      @apply text-center py-2;
    }
  }
}
