@tailwind base;
@tailwind components;
@tailwind utilities;
@import './icons.css';
@import './fonts/index.css';
@import '@reach/dialog/styles.css';

::selection {
  @apply bg-orange-400 text-white;
}
::-moz-selection {
  @apply bg-orange-400 text-white;
}

a {
  @apply transition-all ease-in-out duration-500;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply border-orange-300;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #111725 inset;
}

/*
This will hide the focus indicator if the element receives focus via the mouse,
but it will still show up on keyboard focus.
*/
.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

[data-sr-convertkit-subscribe-form] {
  @apply space-y-6 w-full max-w-md mx-auto flex flex-col;
  [data-sr-input] {
    @apply w-full bg-gray-900 sm:text-xl px-5 py-4 rounded-lg text-white placeholder-gray-300 border-gray-700 shadow-inner focus:ring-0 focus:border-orange-300;
  }
  [data-sr-input-label] {
    @apply sm:text-lg text-base block pb-2;
    [data-sr-input-asterisk] {
      @apply text-orange-300;
    }
  }
  [data-sr-button='primary'] {
    @apply sm:px-20 px-16 py-4 text-lg font-semibold self-center bg-orange-400 bg-opacity-90 hover:bg-opacity-100 border-2 border-orange-400 text-white rounded-lg transform hover:shadow-xl hover:scale-105 focus:scale-95 transition-all ease-in-out duration-200 focus:outline-none outline-none focus:ring-2 focus:ring-orange-200;
  }
  [data-sr-button='primary'][disabled] {
    @apply opacity-80 cursor-wait hover:scale-100;
  }
}

[data-sr-confirm-email] {
  article {
    @apply max-w-2xl text-center space-y-5 mx-auto py-24;
  }
  header {
    @apply space-y-5;
    h1 {
      @apply text-orange-200 uppercase font-semibold tracking-wide;
    }
    h2 {
      @apply font-medium text-3xl;
    }
    img {
    }
  }
  p {
    @apply opacity-80 prose prose-lg;
  }
  footer {
    @apply flex flex-col pt-6 text-gray-200 text-lg;
    img {
    }
  }
}
[data-sr-confirm-email='free-chapter'] {
  article {
    @apply max-w-lg;
  }
  header {
    h1 {
      @apply text-xl;
    }
  }
}
