@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=c762418e-81a2-4113-935b-a924ccb5e681');

@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/42c2acb1-b681-4c00-bac5-48c18b9ef91b.woff2') format('woff2'),
    url('/fonts/c0657016-5688-455d-848c-84664d859947.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/c6a4c34a-647c-41a4-98ff-3031b5a5618f.woff2') format('woff2'),
    url('/fonts/b8482ba7-1043-4462-b6a6-e5e80e779d51.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/3ca44bee-0ef5-4c7b-97c7-3e7e3932bbaa.woff2') format('woff2'),
    url('/fonts/5caceed9-6f65-4d74-be14-bf8f06045d6e.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/1325bc4f-ee5a-4136-bc7c-8ac591ec8978.woff2') format('woff2'),
    url('/fonts/799a3816-d181-453f-887d-348ff8777193.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/693a7971-591e-440d-bca9-9f09bce8f5c1.woff2') format('woff2'),
    url('/fonts/3056b105-81b2-4d3f-acbe-f2878977c67e.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/038ac034-64f4-4caa-9123-7d592e280b5e.woff2') format('woff2'),
    url('/fonts/a067a3eb-7c9f-4f5d-8037-13ea2d48b892.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/0e3d9586-a0fa-479f-aaac-bba06390a42c.woff2') format('woff2'),
    url('/fonts/2e88ba9b-de01-4f48-9d3e-fad39aa43f8a.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/9249f728-0118-4d2d-a4ca-179760ae709d.woff2') format('woff2'),
    url('/fonts/5997bece-ccff-438a-8bea-aee21f915ee1.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/0f76dbcf-bad3-42b7-9619-3458cdba490c.woff2') format('woff2'),
    url('/fonts/680f8582-c072-413d-a2ef-3f1f40013b1c.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/5b114e98-e83f-4bb2-b36b-349ff90b679c.woff2') format('woff2'),
    url('/fonts/112582af-e72b-4d8d-84b9-621a1baea5ed.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/80093b9e-33be-4f00-8581-3fef7ae88d08.woff2') format('woff2'),
    url('/fonts/6bdd5a6b-aae0-46da-91b0-118d79ec0461.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/ec32acd9-bc6a-44fa-ae5b-3c1517f79962.woff2') format('woff2'),
    url('/fonts/f5105f88-7724-48c9-96a4-f1db43d5e534.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/b17c688f-34d7-4a50-b068-488ee67b867e.woff2') format('woff2'),
    url('/fonts/556fabc6-528c-4d5e-a4e0-a7bfbb5aed7c.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/e179c7f6-4fbd-440f-8470-6fe352df98e9.woff2') format('woff2'),
    url('/fonts/674ddc5e-9e69-416d-9366-41ebf633125c.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/5f98e86a-5d7f-43c0-9afa-4e8ed83b4293.woff2') format('woff2'),
    url('/fonts/ef7861a5-3ae8-40ab-92f4-9287b52663ae.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/be03dc1b-8521-4508-9ada-815baebb71f4.woff2') format('woff2'),
    url('/fonts/8e947726-9b43-40e9-a834-f8627d86ace1.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/b46f9635-cf36-45a2-b242-67dbb303e78b.woff2') format('woff2'),
    url('/fonts/31c7c308-3a2f-4679-9c29-0c5cc20b9894.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: optional;
}
@font-face {
  font-family: 'Greycliff';
  src: url('/fonts/dc4d0e46-e04d-48eb-add5-44ef13c3d2dc.woff2') format('woff2'),
    url('/fonts/41337049-7d87-408f-ac2c-5856332bd2f4.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: optional;
}
