@import './icons.css';
@import '~@skillrecordings/player/dist/skillrecordings-player.css';
@import '~@reach/dialog/styles.css';
@import './fonts.css';
@import './backgrounds.css';
@import './mdx.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Subscribe Form 
*/

[data-sr-convertkit-subscribe-form] {
  @apply w-full max-w-[300px] pt-2;
  [data-sr-input] {
    @apply placeholder:font-light font-normal mb-2 w-full bg-white bg-opacity-10 rounded-xl px-5 py-4 placeholder:text-white placeholder:text-opacity-80 border border-white border-opacity-10 shadow-inner backdrop-blur-sm backdrop-brightness-125 focus:bg-opacity-20 focus:border-opacity-30 focus:ring-0;
  }
  [data-sr-input-label] {
    @apply sr-only;
  }
  [data-sr-button] {
    @apply mt-2 font-semibold w-full rounded-xl bg-gradient-to-t from-blue-800 via-blue-700 to-blue-600 text-white shadow-xl border-none px-5 py-5 hover:scale-105 hover:-rotate-1 transition;
  }
  [data-sr-button][disabled] {
  }
}
[data-sr-convertkit-subscribe-form='success'] {
  @apply text-center;
  p {
    @apply pt-8;
  }
}
[data-sr-convertkit-subscribe-form='error'] {
}

:root {
  @apply selection:text-white selection:bg-blue-600;
}

h1,
h2,
h3,
h4 {
  @apply font-heading;
}

.bg-noise {
  @apply object-contain object-top w-full absolute inset-0 max-h-[1024px];

  background-image: url('/images/backgrounds/header-noise.png');
}

/*
This will hide the focus indicator if the element receives focus via the mouse,
but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
