.list-simple {
  ul {
    @apply list-none p-0;
    li {
      @apply pr-4 pl-3 py-3 bg-opacity-50 m-0 mb-[2px] before:content-['・'] before:scale-110 before:pr-2 before:pt-1 before:text-blue-400 before:flex flex last:rounded-b-lg first:rounded-t-lg text-white/90 origin-top;
    }
  }
}

.list-table {
  ul {
    @apply list-none p-0;
    li {
      @apply pr-4 pl-3 py-3 bg-black bg-opacity-50 m-0 mb-[2px] before:content-['・'] before:scale-110 before:pr-2 before:text-blue-400 before:flex flex last:rounded-b-lg first:rounded-t-lg text-white/90 origin-top;
    }
  }
}

.list-grid {
  ul {
    @apply origin-top rounded-lg overflow-hidden list-none p-0 grid sm:grid-cols-3 grid-cols-2 gap-0.5 auto-rows-fr;
    li {
      @apply origin-top px-5 text-center justify-center py-5 bg-black bg-opacity-50 m-0 leading-tight inline-flex items-center min-h-max text-white/90;
    }
  }
}

.list-check {
  @apply relative;
  li {
    @apply list-none;
  }
  li:before {
    @apply text-teal-200 absolute;
    content: '✓';
    width: 20px;
    height: 20px;
    font-size: 1.3rem;
    left: 0;
  }
}

.list-course-features {
  @apply max-w-screen-sm mx-auto;
  ul {
    li {
    }
  }
}

.rough-annotation {
  @apply text-blue-600;
}
