@tailwind base;
@tailwind components;
@tailwind utilities;
@import './icons.css';
@import '@skillrecordings/quiz/dist/styles/index.css';

::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

.prose {
  code {
    @apply dark:bg-gray-800 dark:text-white bg-gray-100;
  }
}

.prose-justify {
  text-align: justify;
  p {
    @apply sm:py-2;
  }
}

.text-stroke {
  @media (prefers-color-scheme: dark) {
    text-shadow: -1.25px -1.25px 0 #fff, 1.25px -1.25px 0 #fff,
      -1.25px 1.25px 0 #fff, 1.25px 1.25px 0 #fff;
  }
  @media (prefers-color-scheme: light) {
    text-shadow: -1.25px -1.25px 0 #000, 1.25px -1.25px 0 #000,
      -1.25px 1.25px 0 #000, 1.25px 1.25px 0 #000;
  }
}

.text-stroke-white {
}

/* Fix Autocomplete styles for color themes */

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(39, 39, 46) inset;
  }
}

@media (prefers-color-scheme: light) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(239, 236, 244) inset;
  }
}

/* ——— subscribe form ——— */

[data-sr-convertkit-subscribe-form] {
  @apply w-full max-w-sm mx-auto flex flex-col;
  [data-sr-input] {
    @apply autofill:text-fill-black dark:autofill:text-fill-white autofill:caret-black dark:autofill:caret-white dark:bg-black w-full text-lg py-2 px-4 leading-7 border-gray-200 rounded-md autofill:border-violet-400 focus:ring-violet-400 focus:ring-2 focus:outline-none focus:border-transparent placeholder-gray-400 mb-4;
  }
  [data-sr-input-label] {
    @apply block text-base pb-1;
  }
  [data-sr-button] {
    @apply self-center font-medium text-lg rounded-full focus:bg-gray-500 focus:ring-2 focus:scale-90 focus:ring-black hover:scale-105 transition-all hover:shadow-xl focus:outline-none mt-4 sm:px-16 px-14 py-4 bg-gradient-to-r dark:from-pink-500 dark:to-purple-500 from-violet-500 to-pink-500 text-white ease-in-out;
  }
  [data-sr-input-asterisk] {
    @apply text-fuchsia-400 dark:text-fuchsia-400;
  }
}

/*
This will hide the focus indicator if the element receives focus via the mouse,
but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@import '@reach/dialog/styles.css';
