@tailwind base;
@tailwind components;
@tailwind utilities;
@import './icons.css';

::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

.prose {
  code {
    @apply dark:bg-gray-800 dark:text-white bg-white;
  }
}

.prose-justify {
  text-align: justify;
  p {
    @apply sm:py-2;
  }
}

.text-stroke {
  @media (prefers-color-scheme: dark) {
    text-shadow: -1.25px -1.25px 0 #fff, 1.25px -1.25px 0 #fff,
      -1.25px 1.25px 0 #fff, 1.25px 1.25px 0 #fff;
  }
  @media (prefers-color-scheme: light) {
    text-shadow: -1.25px -1.25px 0 #000, 1.25px -1.25px 0 #000,
      -1.25px 1.25px 0 #000, 1.25px 1.25px 0 #000;
  }
}

.text-stroke-white {
}

/* Fix Autocomplete styles for color themes */

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(39, 39, 46) inset;
  }
}

@media (prefers-color-scheme: light) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(239, 236, 244) inset;
  }
}

/*
This will hide the focus indicator if the element receives focus via the mouse,
but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@import '@reach/dialog/styles.css';
