@import './icons.css';
@import "~@skillrecordings/player/dist/skillrecordings-player.css";
@import "~@skillrecordings/quiz/dist/styles.css";
@import '~@reach/dialog/styles.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@import "cueplayer.css";

/*
This will hide the focus indicator if the element receives focus via the mouse,
but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

