@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=bf9975aa-1bcc-4052-8d47-2bc727a70fea');
@font-face {
  font-family: 'TT Commons W01 Regular';
  src: url('/fonts/ff5db790-e8a3-4a94-a9d5-ec7d5bed16d8.eot?#iefix');
  src: url('/fonts/ff5db790-e8a3-4a94-a9d5-ec7d5bed16d8.eot?#iefix')
      format('eot'),
    url('/fonts/56184c9a-0155-4961-a836-516c2a37949d.woff2') format('woff2'),
    url('/fonts/941bd4ef-6d96-4cc3-b891-b967fb693919.woff') format('woff'),
    url('/fonts/5f1e8809-7611-4a41-befc-5f06b2aa9505.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 Italic';
  src: url('/fonts/3106bbcb-56c1-4e83-b553-bb7cd1bcfcfd.eot?#iefix');
  src: url('/fonts/3106bbcb-56c1-4e83-b553-bb7cd1bcfcfd.eot?#iefix')
      format('eot'),
    url('/fonts/30d1b9f0-ebc9-4bec-8969-37887c3bd23f.woff2') format('woff2'),
    url('/fonts/a6480ce9-2910-4d34-a8ed-cd8c4a29e52e.woff') format('woff'),
    url('/fonts/4c95b6ba-c225-4a0e-a1ec-c42a606c767e.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'TT Commons W01 Medium';
  src: url('/fonts/ac6370eb-cce9-4261-8b5c-475bbb657e8a.eot?#iefix');
  src: url('/fonts/ac6370eb-cce9-4261-8b5c-475bbb657e8a.eot?#iefix')
      format('eot'),
    url('/fonts/ad9be1db-493d-445e-aeb8-16a5cca6cde9.woff2') format('woff2'),
    url('/fonts/5df2ffcf-6190-4c99-adea-e678cb3fcad8.woff') format('woff'),
    url('/fonts/eb338cd1-3f81-494f-9a49-49e21a67e800.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 Medium Italic';
  src: url('/fonts/099c5b70-43c2-4548-8bb6-1e208fb9b2d6.eot?#iefix');
  src: url('/fonts/099c5b70-43c2-4548-8bb6-1e208fb9b2d6.eot?#iefix')
      format('eot'),
    url('/fonts/d8328db0-291a-49a6-b1be-c536b148631b.woff2') format('woff2'),
    url('/fonts/e361a9bd-5062-4404-9551-a13c790004d8.woff') format('woff'),
    url('/fonts/8d387f92-ce38-4617-b180-7435bee3d135.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 DemiBold';
  src: url('/fonts/5abaccb8-d24f-4872-bfc0-fed2b26803b6.eot?#iefix');
  src: url('/fonts/5abaccb8-d24f-4872-bfc0-fed2b26803b6.eot?#iefix')
      format('eot'),
    url('/fonts/c7e2cf7d-6add-43b2-8bd9-f68faa219cb6.woff2') format('woff2'),
    url('/fonts/9a718670-1649-4925-a033-3a8b409e3a39.woff') format('woff'),
    url('/fonts/4d7286fe-c113-4311-ba60-d896a1f8a845.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'TT Commons W01 DemiBold Italic';
  src: url('/fonts/2039be5a-8f2b-44c0-a8df-2400ed51cf16.eot?#iefix');
  src: url('/fonts/2039be5a-8f2b-44c0-a8df-2400ed51cf16.eot?#iefix')
      format('eot'),
    url('/fonts/7122cc8e-be40-4a15-9e42-d1ebfbfbf489.woff2') format('woff2'),
    url('/fonts/84992851-2bdb-4c30-8ce1-e1e8647c2490.woff') format('woff'),
    url('/fonts/a9f8b439-d72f-4a49-92cd-48c2fa3ff8a7.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 Bold';
  src: url('/fonts/4a186b8c-534e-43fc-ad4f-06d017fe4ee3.eot?#iefix');
  src: url('/fonts/4a186b8c-534e-43fc-ad4f-06d017fe4ee3.eot?#iefix')
      format('eot'),
    url('/fonts/7d35d1f9-668e-42b2-a6b2-9009f0aa3ed4.woff2') format('woff2'),
    url('/fonts/23a70446-ff80-4d9d-a429-94bc68bb5c97.woff') format('woff'),
    url('/fonts/0145c1a6-aa3f-442f-863d-cd0af0679fde.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 Bold Italic';
  src: url('/fonts/b2bd5a82-31e7-4a2d-9088-785d247763bc.eot?#iefix');
  src: url('/fonts/b2bd5a82-31e7-4a2d-9088-785d247763bc.eot?#iefix')
      format('eot'),
    url('/fonts/8a68de60-0c44-4992-8a05-80c97a643f67.woff2') format('woff2'),
    url('/fonts/30e3bc72-8997-4603-a269-bdce818aeda0.woff') format('woff'),
    url('/fonts/89a58437-1681-44db-9a20-279ebfe5ea70.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 Light';
  src: url('/fonts/c9e392d0-3aeb-4c6d-87ca-382d1b42723e.eot?#iefix');
  src: url('/fonts/c9e392d0-3aeb-4c6d-87ca-382d1b42723e.eot?#iefix')
      format('eot'),
    url('/fonts/c0fdf756-27c7-46b6-ade5-d04ede3fbf9b.woff2') format('woff2'),
    url('/fonts/499f3b52-6c48-40e5-9a4a-7d76f57bc82d.woff') format('woff'),
    url('/fonts/4cc0babc-6792-4bd9-bef6-8ae57d3ea8cf.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Commons W01 Light Italic';
  src: url('/fonts/50fb3409-69a1-4213-836e-37c50a9760f3.eot?#iefix');
  src: url('/fonts/50fb3409-69a1-4213-836e-37c50a9760f3.eot?#iefix')
      format('eot'),
    url('/fonts/b80c2579-e59b-4af1-8f54-fd347d603443.woff2') format('woff2'),
    url('/fonts/5a43ad8c-6cf5-42b9-864f-660f0cfcd4f3.woff') format('woff'),
    url('/fonts/d2d9fe97-1247-4fed-ba96-bf284006ff2f.ttf') format('truetype');
}
