.cueplayer-react-cue-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  position: relative;
  border-bottom: 1px solid black;
  background-color: $cueplayer-react-primary-background-color;
  .cueplayer-react-cue-note {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    transform: translate(-50%);
  }
  .cueplayer-react-cue-note-learner {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: $cueplayer-react-primary-active-background-color;
    border-radius: 50%;
    transform: translate(-50%);
  }
  // .cueplayer-react-cue-note-inactive {
  //   opacity: 0.5;
  // }
  // .cueplayer-react-cue-note-active {
  //   opacity: 1;
  // }
  .cueplayer-react-cue-popup-content {
    border-radius: 5px;
    background: $cueplayer-react-primary-background-color;
    padding: 10px;
  }
  .cueplayer-react-cue-popup-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .cueplayer-react-cue-popup-body {
    @extend %cueplayer-react-cue-popup-markdown;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }
  .cueplayer-react-cue-popup-close-button,
  .cueplayer-react-cue-popup-mute-button {
    flex-wrap: nowrap;
    color: #9ca3af;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .cueplayer-react-cue-popup-close-button {
    margin-left: 6px;
  }
}
