.cueplayer-react {
  .cueplayer-react-playback-rate {
    .cueplayer-react-playback-rate-value {
      line-height: 3em;
      text-align: center;
    }

    .cueplayer-react-menu {
      width: 4em;
      left: 0em;
    }
  }
}
