.cueplayer-react .cueplayer-react-progress-bar {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 24px;
}
.cueplayer-react:not(.cueplayer-react-cues-active)
  .cueplayer-react-progress-bar {
  height: 40px;
}
