.cueplayer-react-side-panel {
  [data-reach-tab] {
    color: white;
    opacity: 0.5;
    &[data-selected] {
      opacity: 1;
    }
  }
}

.cueplayer-react-side-panel-control.cueplayer-react-side-panel-control {
  opacity: 0.6;
}
