.cueplayer-react-side-panel {
  position: relative;
  width: 100%;
  height: 100%;
  border-color: #27272a;
  border-style: solid;
  border-width: 0 0 0 1px;
  [data-reach-tab-list] {
    background: black;
  }
  [data-reach-tab-panel] {
    background: black;
  }
  [data-reach-tab] {
    color: white;
    opacity: 0.5;
    &[data-selected] {
      opacity: 1;
    }
  }
}
