@tailwind base;
@tailwind components;
@import './subscribe-form.css';
@import './quiz.css';
@import './nprogress.css';
@import './prism-theme.css';

@tailwind utilities;
@import './focus-visible.css';

:root {
  color-scheme: dark;
  @apply selection:bg-brand selection:text-black;
}

.no-marker {
  ::-webkit-details-marker {
    display: none;
  }
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  @apply relative overflow-hidden;
}

mux-player::part(vertical-layer) {
  background-color: rgba(0, 0, 0, 0);
}
