@tailwind base;
@tailwind components;
@import './subscribe-form.css';
@import './quiz.css';
@import './nprogress.css';
@import './prism-theme.css';
@import './portable-text.css';
@import './video/github-link.css';
@import './video/lesson-completion-toggle.css';
@import './video/lesson-description.css';
@import './video/lesson-title.css';
@import './video/module-lesson-list.css';
@import './video/video-overlays.css';
@import './video/video-transcript.css';

@tailwind utilities;

:root {
  @apply selection:bg-indigo-500 selection:text-white;
}

.no-marker {
  ::-webkit-details-marker {
    display: none;
  }
}

.prose > pre > code {
  @apply !bg-transparent;
}
pre > code {
  @apply !bg-transparent;
}

mux-player {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  margin-bottom: -6px;
}

mux-player::part(center play button) {
  @apply sm:scale-50;
}

mux-player::part(vertical-layer) {
  background-color: rgba(0, 0, 0, 0);
}

.noise {
  background-image: url('/assets/stars-in-distance@2x.png');
}

.dark {
  .bg-gradient-radial {
    background: radial-gradient(circle at 50% 50%, #282644 0%, #0b0617 100%);
  }
}
.light {
  .bg-gradient-radial {
    background: radial-gradient(circle at 50% 50%, #fff 0%, transparent 100%);
  }
}

.light {
  .invert-svg {
    img[src$='.svg'] {
      filter: invert(1);
    }
  }
}
