/* @import url('http://fast.fonts.net/t/1.css?apiType=css&projectid=0e767d9e-bdcb-4673-9fc6-866c6f05a594'); */

@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/4fc1e517-3c67-4b97-9893-6e4b657628c3.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/a8ae1cba-2140-47aa-a7b4-a9237abc51db.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/ed466e92-5fb8-4a26-84fd-4c2f52ed7bdd.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/f140d611-8d45-46d1-950f-27c38254a251.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/76f50886-e6ea-4d8a-bdf6-78b050677743.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/9e9dfe79-fa74-4966-93d6-586c98856af0.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/8e9d131a-6c52-4c22-8f70-309537f20def.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/9dbe9e9e-58e4-4b97-abb5-dae9b8e475de.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/c5650a52-1716-4dea-9b43-460e6f0991d0.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/e68acace-29e7-4507-9034-d094d985ad35.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/a8946b36-04dd-481d-8f31-d2e14ae40c25.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/9f1dab67-370f-4233-b8c2-1ad15c1030c9.woff')
      format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Trailers';
  src: url('./fonts/tt-trailers/5af073c2-56e9-4335-9bcf-f601a59a99c6.woff2')
      format('woff2'),
    url('./fonts/tt-trailers/410b8045-7ca4-4236-b3d5-3ef5cb3ca303.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
}
