@tailwind base;
@tailwind components;
@tailwind utilities;

@import './quiz.css';
@import './primary-newsletter-cta.css';
@import './tips.css';
@import './nprogress.css';
@import './video/mux-player.css';
@import './video/github-link.css';
@import './video/lesson-completion-toggle.css';
@import './video/lesson-description.css';
@import './video/lesson-title.css';
@import './video/module-lesson-list.css';
@import './video/video-overlays.css';
@import './video/video-transcript.css';
@import './video/module-navigator.css';
@import './focus-visible.css';
@import '@code-hike/mdx/dist/index.css';
@import './ui/button.css';
@import './login.css';
@import './commerce.css';
@import url('https://use.typekit.net/tjw2gng.css');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222 47% 11%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 32% 91%;
    --secondary-foreground: 222 47% 11%;

    --accent: 214 32% 91%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    color-scheme: dark;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 71%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 71%;

    --card: 0 0% 5%;
    --card-foreground: 0 0% 71%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;

    --primary: 21 85% 65%;
    --primary-foreground: 0 0% 3%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 71%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 21 85% 65%;

    --radius: 0.3rem;
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
  body {
    @apply bg-background font-light text-foreground antialiased;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
