@font-face {
  font-family: 'Aestetico';
  src: url('./d0f49eab-b021-42a7-a313-40a257e4b650.woff2') format('woff2'),
    url('./4cba04f5-c469-4d71-b23e-461370a77916.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./8ab17698-fb94-4724-b16c-b5e13ff820f7.woff2') format('woff2'),
    url('./7e737334-94a8-476a-be43-b6a241ad8e45.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./caf96bc8-27b3-4ae9-b888-aaed15e1ebfd.woff2') format('woff2'),
    url('./42aff737-0e51-41bb-9d34-b321401a14dd.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./8f912dbb-f407-4b53-ae97-5a173dda743f.woff2') format('woff2'),
    url('./3502aef4-fbb7-4a7f-a422-eb0987e7d15c.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./648195c2-8b88-468d-8ebe-c7e5784803c5.woff2') format('woff2'),
    url('./64e3e7a8-8981-4e7c-bbfd-00de8f2eaf10.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./5f3dd659-9c9d-463d-98d5-d254ed93d904.woff2') format('woff2'),
    url('./82931578-c42e-456a-82c8-60c9096d97dd.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./5ae10365-1f4a-44a2-b813-685fb99fc2a1.woff2') format('woff2'),
    url('./21df5cbc-0094-4eaf-9036-b67cbc59be8e.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./770d7d3c-c64a-4cce-844c-09dd7b0a8e02.woff2') format('woff2'),
    url('./76515ea3-186f-4b8d-8633-093d87f69ee3.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./176a9de0-5b2c-4729-aba3-b3549317f433.woff2') format('woff2'),
    url('./6b80e9b8-fe07-41c7-b0ca-a08f51d8851f.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./9c477d0d-d3e1-415c-947d-16f1919af092.woff2') format('woff2'),
    url('./e23c6ab6-1232-4621-a6a8-db892a597031.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./a47c1c71-ac32-4b41-8ef9-da9191831060.woff2') format('woff2'),
    url('./d557b260-e3ea-4243-90bb-374a6c2775d3.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./01ec5cda-775e-431d-a1d7-e50889754126.woff2') format('woff2'),
    url('./c772abec-c02d-4b3e-896b-e88893b5905a.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./f837df32-ecde-4e05-8c66-7292c708b315.woff2') format('woff2'),
    url('./16410121-7fdd-40ad-9e9b-583acbec9881.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Aestetico';
  src: url('./aaf5e3f0-10a3-429f-b5ab-ad103d3fec9c.woff2') format('woff2'),
    url('./1f72506d-3076-460d-8cff-ae70e14490d9.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Ahkio';
  src: url('./7e6b13f8-95a2-4c2d-ada2-fae91d53e1c3.woff2') format('woff2'),
    url('./09898f99-5240-4678-9dc2-770e5c74097b.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ahkio';
  src: url('./6b42cb10-eb03-4d96-81f0-c2e7b54c3c5b.woff2') format('woff2'),
    url('./af03c36b-9595-4dd3-9fec-af6b6bd149d1.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
