[data-video-overlay-wrapper] {
  @apply relative left-0 top-0 flex w-full items-center justify-center bg-card md:aspect-video;
  background-image: linear-gradient(
      to right,
      hsl(210, 40%, 98%) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, hsl(210, 40%, 98%) 1px, transparent 1px);
  background-size: 50px 50px;
  [data-dismiss] {
    @apply absolute right-2 top-2 z-40 flex items-center gap-1 rounded px-3 py-2 text-sm font-medium text-neutral-500 transition hover:bg-transparent hover:text-neutral-600;
    svg {
      @apply h-5 w-5;
    }
  }
  [data-content] {
    @apply left-0 top-0 z-20 flex h-full w-full flex-col items-center justify-center text-center text-lg leading-relaxed md:absolute;
  }
}
[data-video-overlay='default'] {
  @apply flex px-5 py-16 sm:py-5;
  [data-login] {
    @apply flex-shrink-0 pt-8 text-xs italic tabular-nums text-gray-500 xl:pt-16 xl:text-sm [&>a]:underline;
  }
  [data-progress] {
    @apply flex w-full max-w-sm items-center justify-center gap-2 py-3;
    [data-progress-bar] {
      @apply bg-gray-100 shadow-inner;
      [data-indicator] {
        @apply bg-gradient-to-r from-indigo-300 via-indigo-300 to-purple-300 duration-300 ease-out;
      }
    }
    [data-lessons-completed] {
      @apply flex-shrink-0 text-sm tabular-nums text-gray-500;
    }
  }
  [data-image] {
    @apply mb-5 max-w-[200px] items-center justify-center sm:max-w-[150px] md:flex lg:w-auto lg:max-w-[150px] 2xl:max-w-[150px];
  }
  [data-title] {
    @apply pb-5 text-xl font-semibold sm:text-3xl;
  }
  [data-byline] {
    @apply font-normal text-gray-500;
  }
  [data-actions] {
    @apply flex w-full max-w-sm flex-col items-center justify-center gap-3 pt-4 sm:pt-4 lg:pt-0 xl:pt-4;
    div {
      @apply mt-3 flex w-full items-center justify-center gap-5;
    }
    [data-action='replay'] {
      @apply flex items-center gap-1 px-2 py-2 text-sm font-normal text-gray-500 transition hover:bg-transparent hover:text-gray-600 sm:text-base;
      [data-icon] {
        @apply h-5 w-5;
      }
    }
    [data-action='try-again'] {
      @apply flex items-center gap-1 px-2 py-2 text-sm font-normal text-gray-500 transition hover:text-gray-600 sm:text-base;
      [data-icon] {
        @apply h-4 w-4;
      }
    }
    [data-action='continue'] {
      @apply flex h-auto w-full items-center justify-center gap-1 rounded bg-gradient-to-r from-blue-500 to-purple-500 px-5 py-3 text-lg font-semibold text-white shadow-xl transition hover:brightness-110 sm:px-8 sm:py-3;
      span {
        @apply drop-shadow;
      }
      [data-icon] {
      }
      svg {
        @apply text-gray-900/30 mix-blend-multiply;
      }
    }
    [data-action='continue']:disabled {
      @apply cursor-wait;
    }
  }
}
[data-video-overlay='blocked'] {
  @apply relative flex w-full flex-col items-center justify-center gap-8 bg-gray-900 px-8 py-5 text-white xl:aspect-video xl:flex-row;
  [data-thumbnail] {
    @apply pointer-events-none object-cover object-top opacity-10 blur-md contrast-125;
  }
  [data-subscribe] {
    @apply z-20 flex w-full max-w-lg flex-col items-center justify-center p-5 text-center text-lg leading-relaxed sm:p-5;
    [data-col='1'] {
      @apply flex w-full flex-col items-center justify-center gap-2;

      [data-image] {
        @apply relative w-full max-w-[220px];
      }
      [data-title] {
        @apply pt-3 text-2xl font-medium sm:text-3xl;
      }
      [data-subtitle] {
        @apply pb-3 pt-2 text-lg font-light text-violet-200 sm:text-xl;
      }
      [data-sr-convertkit-subscribe-form] {
        @apply max-w-xs;
        [data-sr-button] {
          @apply bg-gradient-to-r from-blue-500 to-purple-500 !important;
          svg {
            @apply h-7 w-7;
          }
        }
      }
      [data-nospam] {
        @apply pt-2 text-sm opacity-80;
      }
    }
  }
  [data-col='2'] {
    @apply border-t border-white/5 py-10;
    [data-markdown] {
      @apply prose w-full max-w-md prose-p:text-gray-300;
      [data-title] {
        @apply mt-0 text-xl font-medium text-white sm:text-2xl;
      }
    }
  }
  [data-buy] {
    @apply z-20 flex h-full flex-shrink-0 flex-col items-center justify-center gap-5 p-5 text-center text-lg leading-relaxed;
    [data-team-purchase] {
      @apply flex w-full flex-col items-center justify-center gap-2;
      [data-image] {
        @apply relative -mb-5;
      }
      [data-title] {
        @apply text-3xl font-semibold sm:text-4xl;
      }
      [data-subtitle] {
        @apply max-w-xl pb-5 pt-3 text-lg text-gray-300;
      }
      [data-self-redeem-button] {
        @apply rounded-lg border-none bg-primary px-5 py-3 text-base font-semibold text-white transition hover:brightness-110;
      }
      [data-self-redeem-button][disabled] {
      }
      [data-invite-team] {
        @apply rounded-lg border border-primary bg-transparent px-5 py-3 text-base font-semibold text-white transition hover:brightness-110;
      }
    }
    [data-pricing] {
      @apply flex w-full flex-col items-center justify-center gap-10 xl:flex-row;
      [data-col='1'] {
        @apply flex w-full max-w-[420px] flex-col items-center;
        [data-image] {
          @apply relative -mb-5;
        }
        [data-title] {
          @apply text-3xl font-semibold;
        }
        [data-description] {
          @apply w-full pb-3 pt-3 text-base text-gray-300;
          [data-markdown] {
            @apply prose w-full prose-p:text-gray-300;
          }
        }
        [data-includes] {
          @apply text-base text-gray-300;
          [data-bonus] {
            @apply text-yellow-200;
          }
        }
        [data-modules] {
          span {
            @apply pointer-events-none text-gray-400;
          }
          @apply flex items-center justify-center gap-3 pt-3;
          a {
            @apply transition hover:scale-105;
          }
          [data-type='bonus'] {
            @apply relative flex items-center justify-center after:absolute after:right-0 after:top-0 after:content-['🎁'];
          }
        }
      }
      [data-col='2'] {
        @apply w-full lg:w-auto;
      }
    }
  }
}
[data-video-overlay='loading'] {
  @apply aspect-video;
  div:first-of-type {
    @apply flex items-center justify-center;
  }
  [data-image] {
    @apply opacity-50 blur-sm contrast-125;
  }
  svg {
    @apply absolute h-8 w-8 text-gray-400;
  }
}
[data-video-overlay='finished'] {
  @apply px-3 py-16 sm:px-5 sm:py-5;
  [data-progress] {
    @apply mt-4 flex w-full max-w-sm items-center justify-center gap-2 py-3;
    [data-progress-bar] {
      @apply bg-gray-100 shadow-inner;
      [data-indicator] {
        @apply bg-gradient-to-r from-indigo-300 via-indigo-300 to-purple-300 duration-300 ease-out;
      }
    }
    [data-lessons-completed] {
      @apply flex-shrink-0 text-sm tabular-nums text-gray-500;
    }
  }
  [data-image] {
    @apply mb-5 hidden items-center justify-center sm:max-w-[150px] md:flex lg:w-auto lg:max-w-[200px] 2xl:max-w-[150px];
  }
  h2 {
    @apply w-full max-w-2xl font-sans text-lg font-medium sm:block sm:text-xl;
    span:first-of-type {
      @apply block pb-3 font-mono text-xs uppercase text-gray-300 sm:text-sm;
    }
  }
  [data-title] {
    @apply hidden;
  }
  [data-share-actions] {
    @apply bottom-0 flex items-center gap-2 py-3 text-sm text-gray-500 before:mr-5 before:content-["Share_with_your_friends:"] sm:absolute sm:flex-row sm:text-base;
    [data-action='share'] {
      @apply flex items-center gap-1 bg-transparent px-2 py-2 text-sm font-normal text-gray-500 transition hover:text-gray-600 sm:text-base;
    }
  }
  [data-actions] {
    @apply flex w-full max-w-sm flex-row flex-wrap items-center justify-center gap-3 pt-4 sm:pt-4 lg:pt-0 xl:pt-4;
    div {
      @apply mt-3 flex w-full items-center justify-center gap-5;
    }
    [data-action='replay'] {
      @apply flex items-center gap-1 px-2 py-2 text-sm font-normal text-gray-500 transition hover:bg-transparent hover:text-gray-600 sm:text-base;
      [data-icon] {
        @apply h-5 w-5;
      }
    }
    [data-action='restart'] {
      @apply flex items-center gap-1 px-2 py-2 text-sm font-normal text-gray-500 transition hover:bg-transparent hover:text-gray-600 sm:text-base;
      [data-icon] {
        @apply h-4 w-4;
      }
    }
  }
}
