/* Redeem dialog */
[data-redeem-dialog-content] {
    @apply fixed left-1/2 top-1/2 z-50 w-full max-w-[95%] -translate-x-1/2 -translate-y-1/2 rounded-md bg-white shadow-xl sm:max-w-md;
    [data-title] {
      @apply px-8 pt-8 text-2xl font-bold;
    }
    [data-description] {
      @apply border-b border-gray-700/50 px-8 pb-8 pt-4;
    }
    form {
      @apply px-8 py-4;
      [data-email] {
        @apply mt-2 flex flex-col;
        label {
          @apply pb-1;
        }
        input {
          @apply rounded-sm border border-gray-800 bg-transparent px-4 py-2 focus-visible:border-transparent;
        }
      }
      [data-actions] {
        @apply flex w-full justify-end gap-3 pt-8 pb-4;
        [data-cancel] {
          @apply flex shrink-0 items-center gap-1 rounded-md px-5 py-2 text-lg font-semibold text-white transition hover:bg-gray-700 ml-3 bg-gray-600 min-w-[80px] justify-center;
        }
        [data-submit] {
          @apply flex shrink-0 items-center gap-1 rounded-md px-5 py-2 text-lg font-semibold text-white transition hover:bg-indigo-700 ml-3 bg-indigo-600 min-w-[80px] justify-center;
        }
        [data-submit]:hover {
          @apply brightness-105;
        }
      }
    }
  }
  [data-redeem-dialog-overlay] {
    @apply fixed inset-0 z-50 bg-black bg-opacity-30 backdrop-blur-sm;
  }