@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=e8f5e747-cd9a-4664-b178-d744c6d6bb79');
@font-face {
  font-family: 'Marbach';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/f30c5c31-e59b-43f0-bb57-43a54a26f964.woff2') format('woff2'),
    url('/fonts/8b9071bd-abaa-4d59-b971-be5cd8a53cad.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/19ed9d6d-fd01-4851-aad5-bdf230a9e028.woff2') format('woff2'),
    url('/fonts/3b17140a-ba0e-421e-a767-6b4ae3cb7e93.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/64889e06-bc0b-4432-91b3-978ef72ff03f.woff2') format('woff2'),
    url('/fonts/b13f9186-8b4e-4a2b-befc-6aace8aeca68.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/acb754ec-53b8-40a9-961e-c43eebfcd05f.woff2') format('woff2'),
    url('/fonts/ccf25187-3c6c-49b8-9a65-b0ec823261b4.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/0f2a8c41-cd2f-4409-84e4-cd533abbccf6.woff2') format('woff2'),
    url('/fonts/ce4079d8-8704-4cac-aac0-b9c0827d1de6.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/bb2ce6ef-4725-4359-b8c9-aebfa8748572.woff2') format('woff2'),
    url('/fonts/351a9772-2723-425b-8eee-022d1c00821b.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/fadc5ed6-9321-4cec-bddf-ff72d7e0f41f.woff2') format('woff2'),
    url('/fonts/d4522926-d751-474c-a78e-c9b585759df2.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/b354c78b-543e-4280-8c9e-2c571a64474e.woff2') format('woff2'),
    url('/fonts/690cefff-bdce-4d39-98ba-a435992a9152.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/fb2476e7-101c-4838-9872-9d4247eb561a.woff2') format('woff2'),
    url('/fonts/0b41a2d7-1ea7-4f65-8d51-f83f250c040c.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/c09776c9-66b8-4952-b8ab-8f77fd0b0dde.woff2') format('woff2'),
    url('/fonts/05e1faa5-7a55-4124-8ed0-41737dd82933.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/f1f15f00-fbd9-4784-a9f9-b18a62e92b9b.woff2') format('woff2'),
    url('/fonts/0c2bda16-8f57-4257-b442-d20a27063c57.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/98d91f06-8df7-43a3-a0c1-48b8f6599ba2.woff2') format('woff2'),
    url('/fonts/2b1abdcf-f6ec-466d-8fd6-db5e9bce4a49.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/1c888505-df58-4371-a39c-670d6beca69c.woff2') format('woff2'),
    url('/fonts/33dafaa4-c641-4399-b2b8-a34fa6c546a4.woff') format('woff');
}
@font-face {
  font-family: 'Marbach';
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/0f059254-a4c3-4da5-8cce-5196b22d9f1c.woff2') format('woff2'),
    url('/fonts/b4a89e56-4356-42a8-8c67-74d327ee2d2f.woff') format('woff');
}
@font-face {
  font-family: 'Argos';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/a6740ae2-eaf7-48e0-82d5-744887d99090.woff2') format('woff2'),
    url('/fonts/fe5edc17-5736-4c9d-afd4-c989722cc06d.woff') format('woff');
}
@font-face {
  font-family: 'Argos';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/f7d6d306-3cc5-4af0-a282-3f23e7936c98.woff2') format('woff2'),
    url('/fonts/47b7825f-e064-434c-9edf-eb79a95c1001.woff') format('woff');
}
@font-face {
  font-family: 'Argos';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/ac969c34-ee24-4448-b4b6-272e865a2079.woff2') format('woff2'),
    url('/fonts/409b1111-8f66-4013-9922-a6c7dc23c442.woff') format('woff');
}
@font-face {
  font-family: 'Argos';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/2f1a8b9f-a633-4c3d-9c30-25d60afc2fea.woff2') format('woff2'),
    url('/fonts/43bdda77-cca0-4106-b749-1a08e4b8c10d.woff') format('woff');
}
@font-face {
  font-family: 'Argos';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/ed959ea3-f6da-4309-a48b-3ba9b3720e45.woff2') format('woff2'),
    url('/fonts/70877514-2f7d-4f6a-91af-d71aee1df288.woff') format('woff');
}
@font-face {
  font-family: 'Argos';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/efb3e6e6-8562-4c4f-a4a4-0d4ee574f23f.woff2') format('woff2'),
    url('/fonts/b320d28b-1ecb-457b-a4b9-32ea5f15db13.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/3967eab7-2e9b-47f4-9aaa-ab024bdb311f.woff2') format('woff2'),
    url('/fonts/041a3d3b-0e51-4f2b-9e0a-583e6ae17e6e.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/a2191f73-0ff1-42ed-8aa6-22a2d156ee3d.woff2') format('woff2'),
    url('/fonts/40e1da38-36a8-4453-9a83-a82835e1d0d8.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/b6b43f86-56ce-4c03-911a-fe144e3b0609.woff2') format('woff2'),
    url('/fonts/8a558a9e-534d-4073-a7f1-5180642008e6.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/6e3d05a8-59a2-4199-b66a-bca03022fda6.woff2') format('woff2'),
    url('/fonts/d226e141-8b21-4514-848d-bcc1d7852fe7.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/387bb607-ef60-498d-ac0b-c1425a351404.woff2') format('woff2'),
    url('/fonts/2826b13e-bfef-4ccf-be5f-0d8e95448cfb.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/97f71af9-da59-482d-9a81-11baaa199880.woff2') format('woff2'),
    url('/fonts/a38999e4-02ab-46a7-9c17-120a145c9d3c.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/47f07849-f5cc-455e-9de6-fea0158f4938.woff2') format('woff2'),
    url('/fonts/761ce83a-c4a8-4e69-9603-cd2d8ee26169.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/b101db38-cd41-40f6-8e0c-2af80753e84b.woff2') format('woff2'),
    url('/fonts/019a5a6d-96bd-4c74-88b0-8ac46d9363d0.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/1f0375f7-5bec-40ca-9ca4-a7308aca35aa.woff2') format('woff2'),
    url('/fonts/8bc4810b-080e-4fb9-a346-3fea7e078a4b.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/f2739be9-c51e-4d8c-9324-6515b42deb74.woff2') format('woff2'),
    url('/fonts/37375ac6-c4ad-4ce3-8483-5c7bee6146d1.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/f2e7d469-58b3-4a6a-9b63-cb96e240d6f2.woff2') format('woff2'),
    url('/fonts/3eb3d51e-9d47-4839-9bf5-92c087b219f1.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/a32aebb6-bb65-4ebf-bf37-c418e85a8857.woff2') format('woff2'),
    url('/fonts/28399227-b6d1-4005-be77-c3781c4ee01e.woff') format('woff');
}
@font-face {
  font-family: 'Camila';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/baaca0c2-c062-406b-8241-541a9f162bc4.woff2') format('woff2'),
    url('/fonts/5e1840b4-0f52-47e1-a150-f58b3b0e57ae.woff') format('woff');
}
@font-face {
  font-family: 'Coranto';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/4991d018-0c7e-4a72-8f46-277aefe4b445.woff2') format('woff2'),
    url('/fonts/cd21fb9f-e018-4845-a90d-11280b5460a2.woff') format('woff');
}
@font-face {
  font-family: 'Coranto';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/99827a02-13b4-47f3-b9bc-4a4dc3418f23.woff2') format('woff2'),
    url('/fonts/ab57b154-39ed-4c0b-b51a-290b963a74b6.woff') format('woff');
}
@font-face {
  font-family: 'Coranto';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/721a8fe0-60f5-45c7-b6cf-51affb7d1328.woff2') format('woff2'),
    url('/fonts/b5f03a5c-2a2a-43db-916f-65be4a73803f.woff') format('woff');
}
@font-face {
  font-family: 'Coranto';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/f66ff6e1-3ded-4757-a9e5-ce1799bea081.woff2') format('woff2'),
    url('/fonts/12206610-c524-41ec-b5e6-9b85e0cc83b2.woff') format('woff');
}
@font-face {
  font-family: 'Coranto Headline';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/5537b6ee-44e0-4a88-8975-f64532ca123f.woff2') format('woff2'),
    url('/fonts/4427a5bc-c425-4440-908f-a532ea7e24cf.woff') format('woff');
}
@font-face {
  font-family: 'Coranto Headline';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/35389522-dd12-43be-bac9-89b6fcd30c0a.woff2') format('woff2'),
    url('/fonts/e08b7ae8-a709-49d6-a019-4238425de842.woff') format('woff');
}
@font-face {
  font-family: 'Coranto Headline';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/3f0652df-feba-400a-a643-96c63df9c9e5.woff2') format('woff2'),
    url('/fonts/8799af09-5790-4fcb-a873-af29540f06bb.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Didone';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/78991dd3-949b-44a1-a3da-e5eed634c448.woff2') format('woff2'),
    url('/fonts/02dcfdb9-fdc9-4eea-8dbf-51e6d045ea8c.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/9ad42455-5f49-4a56-ac12-1c67297a92c1.woff2') format('woff2'),
    url('/fonts/f7e64544-701b-486d-a7bc-cade1391bac9.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/ec5da227-b62f-4f20-aa1c-fc9fae023492.woff2') format('woff2'),
    url('/fonts/02d31221-d6f3-4446-bbb6-e3828ad9e535.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Didone';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/8493464e-3846-4823-ad79-2581d6283d2b.woff2') format('woff2'),
    url('/fonts/9715ae61-2e14-44b0-a695-f3585d4c4812.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/bae5992f-0f77-4938-875b-33dc26b991f2.woff2') format('woff2'),
    url('/fonts/f2becee9-8ba3-4478-be40-9c2aad1857a0.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/288d4d86-f361-4712-8858-501394ddc249.woff2') format('woff2'),
    url('/fonts/83d3b0b7-2c95-450d-80bc-601ebad5afc9.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Didone';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/330d0cff-f1d4-40bd-8c59-c72b0ee31355.woff2') format('woff2'),
    url('/fonts/0d440bd0-5ea2-41d7-9c62-240377e797b7.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/e0ab215c-81b9-4d0b-aa0d-d28172c4d995.woff2') format('woff2'),
    url('/fonts/6fa127e3-255b-461b-bd13-85178240b269.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/8d6df6ca-5aad-41db-becb-647862604f7c.woff2') format('woff2'),
    url('/fonts/d7837177-d81d-4fa0-bb04-3a879a01b6c8.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Didone';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/10527dcc-a798-4f8e-8a70-fc532e25ece8.woff2') format('woff2'),
    url('/fonts/b36eff8e-abf4-4249-a0b1-254f0f86c949.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/be3f1ee1-12b8-4d7d-979e-321270b6329d.woff2') format('woff2'),
    url('/fonts/88ffd86a-09fc-4572-bcec-0e54f41e9709.woff') format('woff');
}
@font-face {
  font-family: 'Mixta Ess Sharp';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/5de53310-6c1f-4139-ba54-123aa6b28d94.woff2') format('woff2'),
    url('/fonts/1c1cc42d-94a5-4689-80b8-ab754e6706fd.woff') format('woff');
}
