name: E2E Test
on: [pull_request]
jobs:
  cypress:
    name: Cypress
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          version: 14.x

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: true

      - name: build
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_REPO_API_KEY }}
        run: pnpm run build

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          install: false
          start: pnpm run start
          wait-on: 'http://localhost:3004'
          wait-on-timeout: 120
